body{
	padding: 50px;
	background-color: #212025;
	color: #9f9daa;
	display: flex;
	flex-flow: column nowrap;
	gap: 40px;
	align-items: center;
	font: 12px sans-serif;
}

.info{
	display: block;
	font-size: 20px;
}
.info span{
	font-size: 0.5em;
}

.tables{
	display: flex;
	flex-flow: column nowrap;
	gap: 40px;
	align-items: center;
}

.table-group {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	gap: 40px;
	align-items: start;
	
}
.table-group .title{
	position: absolute;
	top: 49%;
	right: calc(100% - 98px);
	transform: rotate(-90deg);
	transform-origin: bottom center;
	width: 200px;
	text-align: center;
	padding-bottom: 0;
	white-space: nowrap;
}
.table-group .title h2{
	font-size: 3em;
	font-weight: 100;
	margin: 0;
}
.table-group .title span{
	font-size: 0.3em;
	margin-left: 10px;
}

.table-container{
	min-width: 590px;
	min-height: 300px;
}
.table-container header{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: end;
	margin-bottom: 5px;
}
.table-container header h3{
	font-size: 2em;
	font-weight: 100;
	margin: 0;
}
.table-container header a{
	font-size: 1.5em;
}
table {
	border-collapse: collapse;
	border: 1px #aaa solid;
}
thead th{
	background-color: #333;
}
th, td {
	border: 1px solid #333;
	padding: 0.9em 1.6em;
}
th .big, td .big{
	color: #fff;
	font-size: 1.3em;
	font-weight: 400;
}
a{
	color: #ccc;
}